.box {
    display: inline-block;
    width: 1000px;
    height: 600px;
    border: transparent;
    margin-left: calc((100% - 1000px) /2);
    margin-top: calc(50vh - 300px);
    border-radius: 20px;
    box-shadow: 0px 20px 20px 0px;
    background-color: white;
    margin-bottom: 30px;
}

.box .row1{
    width: 270px;
    height: 590px;
    float: left;
}
h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 150px;
    font-family: 'Dela Gothic One', cursive;
    color: rgb(39, 39, 102);
}

p {
    font-size: 25px;
    font-family: 'New Tegomin', serif;
    text-align: center;
    color: rgb(56, 56, 146);
}

button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    color: white;
}

.btn {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(27, 27, 100);
    margin-left: calc(50vh - 270px);
    margin-top: 50px;
}


.btn:hover {
    transition: 3;
    background: rgb(114, 61, 236);
}

.box .row2 {
    height: 590px;
    width: 710px;
    background-image: url(../src/imageedit_6_7532169206.png);
    background-size: cover;
    float: left;
}

.wrapper {
    background: rgb(38,45,164);
background: linear-gradient(270deg, rgba(38,45,164,1) 75%, rgba(235,235,242,0.4573179613642332) 86%);
    height: 100%;
    width: 100%;
}



